html {
  height: 100%;
  background-color: #111;
  color: #ffffff;
}

.bg-header {
  background: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #111;

  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rationale", sans-serif;
}

a {
  transition: 0.4s ease all;
  outline: none;
  color: #ffffff;
  text-shadow: 3px 3px 0 #1b1c17;
}

a:focus,
a:hover {
  color: deepskyblue;
}

a:hover,
a:active,
a:focus {
  text-decoration: none;

  opacity: 0.9;
  outline: none;
}

.btn {
  margin-top: 20px;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 0px;
  font-size: 1.2em;
  transition: 0.4s ease all;
}
.btn:hover {
  background: #111;
  color: deepskyblue;
  border-color: deepskyblue;
}
.block_title {
  font-size: 4em;
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  margin-bottom: 70px;
}
.block_title:before,
.block_title:after {
  content: "";
  background: #ccc;
  display: inline-block;
  height: 1px;
  position: relative;
  width: 42%;
  vertical-align: middle;
}
.block_title:before {
  right: 0.5em;
  margin-left: -42%;
}
.block_title:after {
  left: 0.5em;
  margin-right: -42%;
}

/*=========================================
              Digital Typing
=========================================*/

.digital {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.digital p {
  font-size: 6rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
  text-shadow: 3px 3px 0 #1b1c17;
}
.digital p span.typed-text {
  font-weight: normal;
  color: deepskyblue;
}

.digital p span.TypeCursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.digital p span.TypeCursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
@media (max-width: 750px) {
  .digital p {
    font-size: 2.3rem;
  }
  iframe {
    width: 95%;
  }
}

/*=========================================
              ScrollDown
=========================================*/

.center {
  text-align: center;
  color: #fff;
}

.scrollDown {
  font-size: 4em;
  position: absolute;
  bottom: 10%;
  left: 49%;
}
.scrollDown:hover {
  transition: 0.4s ease all;
}

/*=========================================
             NavBar
=========================================*/

#navigation {
  background-color: black;
}
.nav-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.logo {
  height: 76px;
  display: table;
  text-align: left;
}

.logo-text {
  font-size: 2.3em;
  padding: 0.2em 0;
  color: #fff;
  font-family: "Rationale", sans-serif;
  font-weight: 100;
  display: table-cell;
  vertical-align: middle;
}

.menu {
  float: right;
  font-size: 3em;
  color: #fff;
  padding-top: 10px;
}
.dropdown-menu {
  background-color: black;
  min-width: 240px;
  right: 0;
  left: auto;
  border: 1px solid #000;
  box-shadow: none;
  border-radius: 0px;
  margin-top: 5px;
}
.dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 1em 2em;
  margin-top: 5%;
}
.dropdown-menu ul li {
  padding: 0.3em 0em 0.6em 0em;
  font-size: 1.3em;
  position: relative;
}
.dropdown-menu ul li a i {
  position: absolute;
  right: 0;
  top: 20%;
  font-size: 25px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid white;
  float: right;
  margin-top: -5%;
  margin-right: 23px;
}

/*=========================================
             Main About
=========================================*/

.about-mf .box-shadow-full {
  padding-top: 10rem;
  padding-bottom: 4rem;
}

.about-mf .about-img {
  margin-bottom: 2rem;
}
.styled-components {
  color: white;
  width: 50px;
  filter: invert(0%) sepia(89%) saturate(15%) hue-rotate(110deg) brightness(133%) contrast(111%);
}
@media (min-width: 767px) {
  .about-mf .about-img img {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1em;
  }
}

@media (min-width: 300px) {
  .about-mf .about-img {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.skill-mf {
  margin-top: -1em;
  margin-bottom: 3em;
}

.skill-mf span {
  color: #ffffff;
  font-size: 3.8rem;
}

.skill-mf .progress {
  background-color: #cde1f8;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}

.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #3b4bf5;
}

/*=========================================
              experiences
=========================================*/

.exp {
  padding-top: 76px;
}

.experience-wrap {
  width: 100%;
  height: 100%;
  border: 1px solid;
  text-align: center;
  display: block;
  border-radius: 50%;
}
.experience-wrap i {
  margin-top: 40px;
  transition: all 0.3s ease;
}

.experience-wrap:hover i {
  color: deepskyblue;
}
.experience-wrap p {
  padding: 0px 40px;
  font-size: 13px;
}
.experience-wrap h3 {
  margin: 10px 0px;
}
.pe-dj {
  font-size: 5em;
}

.pe-7s-angle-down-circle:before {
  content: "\e689";
  color: deepskyblue;
}

.pe-7s-science:hover {
  color: deepskyblue;
}

/*=========================================
              Portfolio
=========================================*/

#portfolio {
  padding: 80px 0px 0px 0px;
}

.port {
  list-style: none;
  text-align: left;
  padding-bottom: 40px;
}

.port .item {
  display: inline-block;
  text-align: left;
  position: relative;
}

.port figure {
  margin: 0;
  position: relative;
}

.port figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.port figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: black;
  color: deepskyblue;
}

.port figcaption h3 {
  margin: 0px 0px 8px 0px;
  padding: 0;
  color: #fff;
}

.port figcaption span:before {
  content: "Devices: ";
}

.port figcaption a {
  text-align: center;
  padding: 8px 15px;
  display: inline-block;
  color: #fff;
}

.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.cs-style-3 figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 31px;
  right: 20px;
}
.button {
  background: transparent;
  border: 1px solid deepskyblue;
}
.button:hover {
  background: #111;
  color: deepskyblue;
}
.btn-center {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

.item-space {
  margin-bottom: 30px;
}

/*=========================================
              Contact Area
=========================================*/

#contact {
  color: #fff;
}

.contact-area {
  width: 100%;
  position: relative;
  padding: 80px 0px 60px 0px;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-contact {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.moreDetails {
  color: #fff;
}
.con-title {
  font-weight: 300;
  font-size: 3em;
  margin: 0;
  padding-bottom: 30px;
}
.moreDetails p {
  font-size: 16px;
}
.address {
  list-style: none;
  margin: 0;
  padding: 10px 0px 0px 0px;
}
.address li {
  font-size: 1.1em;
  position: relative;
  margin-bottom: 3%;
}
.address li i {
  font-size: 20px;
  position: absolute;
  top: 1px;
}
.address li span {
  padding-bottom: 10px;
  position: relative;
  left: 30px;
  font-size: 1.5rem;
}

/*=========================================
              Social Media
=========================================*/

#social {
  background-color: rgba(0, 0, 0, 0.75) !important;
  padding: 30px 0px 30px 0px;
  position: relative;
}
.normal-txt {
  color: #fff;
  font-size: 3em;
  font-weight: 100;
  padding-bottom: 10px;
  border-bottom: 1px solid;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.socialinks {
  list-style: none;
  text-align: center;
  padding: 0;
}
.social-icons {
  display: inline-block;
  padding: 0px 5px;
}
.social-icons a {
  display: block;
  width: 50px;
  height: 50px;
  background-size: 100% 200%;
}

.social-icons a:hover {
  background-position: 0px -50px;
}
.github {
  background-image: url(../images/github.png);
}
.linkedin {
  background-image: url(../images/linkedin.png);
}
.wordpress {
  background-image: url(../images/wordpress.png);
}

/*=========================================
              Footer
=========================================*/

footer {
  width: 100%;
  background: #000;
  color: #fff;
}
.copyright {
  display: flex;
  justify-content: center;
}

/*=========================================
              Responsive
=========================================*/

@media all and (min-width: 1400px) {
  .centered p {
    font-size: 3em;
  }
}

@media all and (max-width: 1200px) and (min-width: 992px) {
  .experiences {
    max-width: 293px;
    height: 213px;
  }
  .experience-wrap i {
    font-size: 4em;
    margin-top: 28px;
  }
  .experience-wrap h3 {
    font-size: 1.4em;
  }
  .experience-wrap p {
    font-size: 11px;
    padding: 0px 35px;
  }
}

@media all and (max-width: 991px) and (min-width: 768px) {
  .experiences {
    max-width: 293px;
    height: 293px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .experience-wrap p {
    padding: 0px 40px;
    font-size: 14px;
  }
  .pe-dj {
    font-size: 6em;
  }
}

@media all and (max-width: 991px) {
  header {
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
  }
}

@media all and (max-width: 768px) {
  .iframe {
    width: 80%;
  }
  .experiences {
    max-width: 293px;
    height: 293px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .pe-dj {
    font-size: 6em;
  }
  .experience-wrap i {
    margin-top: 50px;
  }
  .centered p {
    font-size: 2em;
  }
  .item-space figure {
    max-width: 360px;
    margin: 0 auto;
  }
  .moreDetails {
    margin-bottom: 60px;
  }
  .copyright,
  .designed {
    text-align: center;
  }
  .scrollDown {
    top: 70%;
    left: 46%;
  }

}
@media all and (max-width: 380px) {
  .logo-text {
    font-size: 1.4em;
  }
  .centered p {
    font-size: 1em;
  }
  .testimonila-block p {
    max-width: 90%;
  }
  .social-icons a {
    width: 30px;
    height: 30px;
  }
  
}

@media all and (max-width: 480px) {
  .scrollDown {
    top: 70%;
    left: 44%;
  }
}
